<h2><%= @restaurant.name %></h2>
<p> <%= @restaurant.address %></p>
<p> <%= @restaurant.phone_number %></p>
<p> <%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>

<%= link_to "Create a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "All Restaurants",  restaurants_path %>
